body {
  font-family  : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body h1 {
  font-size: 20px;
  text-align: center;
}

button {
  border: 1px solid black;
  cursor: pointer;
}

input, textarea {
  padding: 5px;
  border-radius: 0px;
  border: 1px solid black;
}

input:focus, textarea:focus {
  outline: None;
}

.single-event {
  margin  : 8px;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid black;
  background-color:blanchedalmond;
  font-size: 0.8em;
}

.single-event:hover {
  box-shadow: 1px 1px 10px rgb(196, 188, 188);
}

.single-event .event-name{
  font-weight: bold;
  font-size: 15px;
}

.event-description {
  font-style: italic;
}

.modify-delete-event-box input {
  height: 10px;
}

.modify-delete-event-box {
  display: flex;
  justify-content: flex-start;
}

.modify-delete-event-box input, button {
  margin-right: 5px;
}

.modify-button  {
  background-color:rgb(237, 197, 137);
}

.modify-button:hover {
  background-color:rgb(214, 166, 94);
}

.delete-event-button {
  background-color:rgb(250, 114, 126);
}

.delete-event-button:hover {
  background-color:rgb(246, 77, 91);
}


.add-button {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(131, 27, 94);
  color: white;
}

.add-button:hover {
  background-color: rgb(102, 20, 73);
}

.close-button {
  background-color: rgb(244, 80, 80);
  float: left;
}

.close-button:hover {
  box-shadow: 1px 1px 1px rgb(196, 188, 188);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(128, 128, 128, 0.33);
}

.modal {
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  background-color: white;
}

.modal form {
  padding: 30px;
}

form label {
  display: flex;
  flex-direction: column;
	margin-bottom: 20px;
}

form .event-name {
  width: 300px;
}

.event-date {
  width: fit-content;
}

.submit-button-box {
  display: flex;
  justify-content: center;
}

.submit-form-create-event-button {
  padding: 5px;
  width: 60px;
  background-color: rgb(250, 238, 197);
}

.submit-form-create-event-button:hover{
  background-color: rgb(253, 227, 143);
}
